<div class="flow-root mt-8">
  <ul role="list" class="-mb-8" x-data="{ commentsLevel2: [] }" x-intersect.once="commentsLevel2 = (await (await fetch(`/api/content?mode=comments&id=${comment.id}`)).json()).data">
    <template x-for="(comment, index) in commentsLevel2.sort((a, b) => new Date(b.created_at).getTime() - new Date(a.created_at).getTime())" :key="comment.id">
      <li x-intersect.once="await fetch(`/api/content?mode=increment&field=impr&id=${comment.id}`)">
        <div class="relative pb-8">
          <span x-show="index + 1 < commentsLevel2.length" class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <div class="relative flex items-start">
            <template x-if="!comment.author.avatar_url">
              <span class="h-10 w-10 overflow-hidden rounded-full bg-gray-100 mr-3">
                <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"/>
                </svg>
              </span>
            </template>
            <div class="relative">
              <template x-if="comment.author.avatar_url">
                <img class="mr-3 flex h-10 w-10 items-center justify-center rounded-full bg-gray-400 ring-8 ring-white" :src="comment.author.avatar_url.includes('unsplash') ? comment.author.avatar_url+'&fit=facearea&facepad=8&w=256&h=256&q=80' : comment.author.avatar_url" alt="">
              </template>
              {# <span class="absolute -bottom-0.5 -right-1 rounded-tl bg-white px-0.5 py-px">
                                    <!-- Heroicon name: mini/chat-bubble-left-ellipsis -->
                                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                      <path fill-rule="evenodd" d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 001.28.53l3.58-3.579a.78.78 0 01.527-.224 41.202 41.202 0 005.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zm0 7a1 1 0 100-2 1 1 0 000 2zM8 8a1 1 0 11-2 0 1 1 0 012 0zm5 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                                    </svg>
                                  </span> #}
            </div>
            <div class="min-w-0 flex-1">
              <div>
                <div class="text-sm">
                  <button @click="clicked = comment.author; openProfile = !openProfile" class="font-medium text-gray-900 hover:underline" x-text="comment.author.first_name + ' ' + comment.author.last_name"></button>
                </div>
                <p class="mt-0.5 text-sm text-gray-500" x-text="`Commented ${formatDate(new Date(comment.created_at), 'distance')}`"></p>
              </div>
              <div class="mt-2 text-sm text-gray-700">
                <p class="prose prose-sm" x-html="marked.parse(comment.content)"></p>
              </div>

              <div class="flex space-x-6 mt-2">
                <span class="inline-flex items-center text-sm" x-data="{ clicked: false }">
                  <button @click="clicked = true; await fetch(`/api/content?mode=increment&field=like&id=${comment.id}`); clicked = false" type="button" class="inline-flex space-x-2 text-gray-400 hover:text-gray-500">
                    <!-- Heroicon name: mini/hand-thumb-up -->
                    <svg :class="clicked && 'animate-ping'" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M1 8.25a1.25 1.25 0 112.5 0v7.5a1.25 1.25 0 11-2.5 0v-7.5zM11 3V1.7c0-.268.14-.526.395-.607A2 2 0 0114 3c0 .995-.182 1.948-.514 2.826-.204.54.166 1.174.744 1.174h2.52c1.243 0 2.261 1.01 2.146 2.247a23.864 23.864 0 01-1.341 5.974C17.153 16.323 16.072 17 14.9 17h-3.192a3 3 0 01-1.341-.317l-2.734-1.366A3 3 0 006.292 15H5V8h.963c.685 0 1.258-.483 1.612-1.068a4.011 4.011 0 012.166-1.73c.432-.143.853-.386 1.011-.814.16-.432.248-.9.248-1.388z"/>
                    </svg>
                    <span class="font-medium text-gray-900" x-text="comment.num_like ?? 0"></span>
                    <span class="sr-only">likes</span>
                  </button>
                </span>
                {# <span class="inline-flex items-center text-sm">
                                    <button @click="openCommentSection = !openCommentSection" type="button" class="inline-flex space-x-2 text-gray-400 hover:text-gray-500">
                                      <!-- Heroicon name: mini/chat-bubble-left-ellipsis -->
                                      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 001.28.53l3.58-3.579a.78.78 0 01.527-.224 41.202 41.202 0 005.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zm0 7a1 1 0 100-2 1 1 0 000 2zM8 8a1 1 0 11-2 0 1 1 0 012 0zm5 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"/>
                                      </svg>
                                      <span class="font-medium text-gray-900" x-text="post.num_ans"></span>
                                      <span class="sr-only">replies</span>
                                    </button>
                                  </span> #}
                <span class="inline-flex items-center text-sm">
                  <button type="button" class="inline-flex space-x-2 text-gray-400 hover:text-gray-500">
                    <!-- Heroicon name: mini/eye -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z"/>
                      <path fill-rule="evenodd" d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd"/>
                    </svg>
                    <span class="font-medium text-gray-900" x-text="comment.num_impr ?? 0"></span>
                    <span class="sr-only">views</span>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </template>
  </ul>
</div>