<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<style>
  [x-cloak] {
    display: none;
  }
</style>
<nav x-data="{ open: false, links: [
    { text: 'Home', href: '/home/' },
    { text: 'Directory', href: '/directory/' },
    { text: 'Travels', href: '/travels/' }
  ] }" 
  class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex px-2 lg:px-0">
        <a href="/" class="flex flex-shrink-0 items-center">
          <svg class="h-10 w-auto text-indigo-600 fill-current" viewBox="0 0 24 24">
            <g>
              <path  d="M 13.214844 4.421875 C 12 5.050781 11.085938 5.730469 10.109375 6.738281 C 8.882812 8.003906 8.085938 9.25 7.457031 10.863281 L 7.164062 11.621094 L 7.542969 12.222656 L 7.925781 12.832031 L 8.261719 12.222656 C 9.453125 10.109375 11.964844 7.890625 14.433594 6.773438 C 14.742188 6.628906 15 6.472656 15 6.414062 C 15 6.332031 14.128906 4.070312 14.078125 3.996094 C 14.066406 3.988281 13.675781 4.171875 13.214844 4.421875 Z M 13.214844 4.421875 "/>
              <path  d="M 12.738281 7.9375 C 12.445312 8.140625 12.203125 8.335938 12.203125 8.390625 C 12.203125 8.4375 12.445312 8.640625 12.738281 8.84375 C 14.519531 10.089844 16.164062 12.121094 17.289062 14.492188 C 17.566406 15.074219 17.804688 15.574219 17.8125 15.589844 C 17.859375 15.675781 20.148438 14.640625 20.148438 14.527344 C 20.148438 14.335938 19.4375 12.949219 18.949219 12.195312 C 18.160156 10.964844 16.714844 9.507812 15.488281 8.703125 C 15.089844 8.4375 13.382812 7.558594 13.304688 7.578125 C 13.285156 7.578125 13.03125 7.746094 12.738281 7.9375 Z M 12.738281 7.9375 "/>
              <path  d="M 4.6875 10.078125 L 3.566406 10.550781 L 3.78125 11.066406 C 4.890625 13.679688 7.226562 16.109375 9.71875 17.242188 C 11.140625 17.890625 11.09375 17.878906 11.742188 17.484375 L 12.300781 17.132812 L 11.636719 16.707031 C 9.410156 15.3125 7.480469 13.015625 6.300781 10.3125 C 6.132812 9.921875 5.957031 9.609375 5.902344 9.609375 C 5.859375 9.609375 5.308594 9.820312 4.6875 10.078125 Z M 4.6875 10.078125 "/>
              <path  d="M 11.777344 11.390625 C 11.324219 11.566406 11.105469 11.777344 10.898438 12.269531 C 10.632812 12.875 10.738281 13.402344 11.21875 13.902344 C 11.859375 14.566406 12.640625 14.566406 13.277344 13.902344 C 13.757812 13.402344 13.863281 12.875 13.597656 12.269531 C 13.507812 12.046875 13.347656 11.789062 13.242188 11.695312 C 13.046875 11.511719 12.480469 11.269531 12.25 11.269531 C 12.175781 11.269531 11.964844 11.324219 11.777344 11.390625 Z M 11.777344 11.390625 "/>
              <path  d="M 16.019531 13.828125 C 15.46875 14.640625 13.890625 16.226562 12.957031 16.921875 C 12.496094 17.261719 11.601562 17.816406 10.960938 18.148438 C 10.332031 18.480469 9.808594 18.785156 9.808594 18.820312 C 9.808594 18.914062 10.660156 21.082031 10.730469 21.15625 C 10.828125 21.269531 12.019531 20.640625 12.957031 19.984375 C 14.707031 18.765625 16.066406 17.160156 17.03125 15.167969 L 17.21875 14.769531 L 16.855469 14.105469 C 16.660156 13.734375 16.464844 13.402344 16.4375 13.367188 C 16.402344 13.328125 16.214844 13.542969 16.019531 13.828125 Z M 16.019531 13.828125 "/>
            </g>
          </svg>
        </a>
        <div class="hidden lg:ml-6 lg:flex lg:space-x-8">
          <template x-for="link in links" :key="link.href">
            <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
            <a :href="link.href" :class="window.location.pathname === link.href && 'border-indigo-500 text-gray-900'"
              class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">
              <span x-text="link.text"></span>
            </a>
          </template>
        </div>
      </div>
      <div class="flex flex-1 items-center justify-center px-2 lg:ml-6 lg:justify-end">
        <div class="w-full max-w-lg lg:max-w-xs" x-show="window.location.pathname.includes('home')">
          <label for="search" class="sr-only">Search</label>
          <div class="relative">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <!-- Heroicon name: mini/magnifying-glass -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd"/>
              </svg>
            </div>
            <input x-model.debounce.500ms="searchText" id="search" name="search" class="block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 leading-5 placeholder-gray-500 focus:border-indigo-500 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm" placeholder="Search" type="search">
          </div>
        </div>
      </div>
      <div class="flex items-center lg:hidden">
        {# <template x-if="!$store.auth.user">
          <button disabled type="button" class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-indigo-500 hover:bg-indigo-400 transition ease-in-out duration-150 cursor-not-allowed" disabled="">
            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
                Please wait...
              </button>
        </template> #}
        <template x-if="$store.auth.user">
          <!-- Mobile menu button -->
          <button @click="open = !open" type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
            Icon when menu is closed.

            Heroicon name: outline/bars-3

            Menu open: "hidden", Menu closed: "block"
          -->
            <template x-if="!open">
              <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
              </svg>
            </template>
            <!--
            Icon when menu is open.

            Heroicon name: outline/x-mark

            Menu open: "block", Menu closed: "hidden"
          -->
            <template x-if="open">
              <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </template>

          </button>
        </template>
      </div>
      <div class="hidden lg:ml-4 lg:flex lg:items-center" x-data="{ open: false }">
        <button @click="showNotifications = !showNotifications" type="button" class="flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          <span class="sr-only">View notifications</span>
          <!-- Heroicon name: outline/bell -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
          </svg>
        </button>

        <!-- Profile dropdown -->
        <div x-cloak class="relative ml-4 flex-shrink-0">

          <template x-if="('friendzone_token' in sessionStorage) || ('friendzone_token' in localStorage)">
            <div>
              {# <template x-if="!$store.auth.user">
                <button disabled type="button" class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-indigo-500 hover:bg-indigo-400 transition ease-in-out duration-150 cursor-not-allowed" disabled="">
                  <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                  </svg>
                Please wait...
              </button>
              </template> #}
              <template x-if="$store.auth.user">
                <div>
                  <button @click="open = !open" type="button" class="flex rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="sr-only">Open user menu</span>
                    <template x-if="!$store.auth.user?.avatar_url">
                      <span class="h-8 w-8 overflow-hidden rounded-full bg-gray-100">
                        <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                          <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"/>
                        </svg>
                      </span>
                    </template>
                    <template x-if="$store.auth.user?.avatar_url">
                      <img class="h-8 w-8 rounded-full" :src="$store.auth.user?.avatar_url.includes('unsplash') ? $store.auth.user?.avatar_url+'&fit=facearea&facepad=2&w=256&h=256&q=80' : $store.auth.user?.avatar_url" alt="">
                    </template>
                  </button>
                </div>
              </template>
            </div>
          </template>

          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <div @click.outside="open = !open" x-show="open" 
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a href="/profile" class="hover:bg-gray-100 block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Profile</a>
            <a href="/settings" class="hover:bg-gray-100 block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
            <button @click="logout()" class="w-full text-left hover:bg-gray-100 block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Log out</button>
          </div>
          
        </div>
         {# <button @click="openNewPost = !openNewPost" class="md:hidden mb-2 block w-full rounded-md border border-indigo-300 bg-indigo-600 px-4 py-2 text-center text-sm font-medium text-indigo-100 shadow-sm hover:bg-indigo-700">New Post</button> #}
        <button x-show="window.location.pathname.includes('home')" @click="openNewPost = !openNewPost" class="ml-6 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">New Post</button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div x-cloak x-show="open" class="lg:hidden" id="mobile-menu" x-effect="if (open) links = [
        { text: 'Home', href: '/home/' },
        { text: 'Popular', href: '/home/?tab=Popular' },
        { text: 'Trending', href: '/home/?tab=Trending' },
        { text: 'Favorites', href: '/home/?tab=Favorites' },
        { text: 'Directory', href: '/directory/' },
        { text: 'Travels', href: '/travels/' }
      ]">
    <div class="space-y-1 pt-2 pb-3">
      <template x-for="link in links" :key="link.href">
        <!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700", Default: "border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800" -->
        <a :href="link.href" :class="(!window.location.href.includes('tab') && window.location.pathname === link.href || new URLSearchParams(location.search).get('tab') === link.text)
          && 'bg-indigo-50 border-indigo-500 text-indigo-700'"
          class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800">
          <span x-text="link.text"></span>
        </a>
      </template>
    </div>
    <div class="border-t border-gray-200 pt-4 pb-3">
      <div class="flex items-center px-4">
        <template x-if="!$store.auth.user?.avatar_url">
          <span class="h-10 w-10 overflow-hidden rounded-full bg-gray-100">
            <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
              <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"/>
            </svg>
          </span>
        </template>
        <div class="flex-shrink-0">
          <template x-if="$store.auth.user?.avatar_url">
            <img class="h-10 w-10 rounded-full" :src="$store.auth.user?.avatar_url.includes('unsplash') ? $store.auth.user?.avatar_url+'&fit=facearea&facepad=2&w=256&h=256&q=80' : $store.auth.user?.avatar_url" alt="">
          </template>
        </div>
        <div class="ml-3">
          <div class="text-base font-medium text-gray-800">
            <span x-text="$store.auth.user?.first_name + ' ' + $store.auth.user?.last_name"></span>
          </div>
          <div class="text-sm font-medium text-gray-500">
            <span x-text="$store.auth.user?.email"></span></div>
        </div>
        <button @click="showNotifications = !showNotifications" type="button" class="ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          <span class="sr-only">View notifications</span>
          <!-- Heroicon name: outline/bell -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"/>
          </svg>
        </button>
      </div>
      <div class="mt-3 space-y-1">
        <a href="/profile" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Profile</a>
        <a href="/settings" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Settings</a>
        <button @click="logout()" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Log out</button>
      </div>

      <div x-show="window.location.pathname.includes('home')" class="mx-auto mt-6 max-w-3xl px-4 sm:px-6">
        <button @click="openNewPost = !openNewPost" class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700">New Post</a>

        {# <div class="mt-6 flex justify-center">
          <a href="#" class="text-base font-medium text-gray-900 hover:underline">Go Premium</a>
        </div> #}
      </div>
    </div>
  </div>
</nav>