<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <script src="/assets/main.bundle.js" defer></script>
    <title>{{ title }} | Friendzone</title>
  </head>

  <body class="{{ 'debug-screens' if env.devMode }}" x-data="global()"
    x-effect="getConnects(); console.log($store.auth.user?.email)">
    {% include 'header.njk' %}
    {% block body %}
      {{ content | safe }}
    {% endblock %}

    <!-- Global notification live region, render this permanently at the end of the document -->
    <div x-show="showNotifications" aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
      <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
        <template x-for="notification in notifications">
          <div class="w-full">
            <template x-if="notification.type === 'connect'">
              {% include '../notifications/connect.njk' %}
            </template>
            <template x-if="!notification.type">
              {% include '../notifications/generic.njk' %}
            </template>
          </div>
        </template>
      </div>
    </div>

    <div class="p-3 m-2 fixed right-0 bottom-0">
      <button
        @click="openContacts = !openContacts"
        class="inline-flex items-center p-3 border border-transparent rounded-full shadow-sm text-white bg-indigo-600
            hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <!-- Heroicon name: outline/plus-sm -->
        <span class="sr-only">Chat</span>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2">
          <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828
                    15H9v-2.828l8.586-8.586z"/>
        </svg>
      </button>
    </div>

    <div x-show="openContacts">
      {% include '../contacts.njk' %}
    </div>
  </body>
  <script>
    if (!('friendzone_token' in sessionStorage) && !('friendzone_token' in localStorage)) 
      window.location = new URL('/', window.location)
  </script>

</html>
{#  #}