<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <script src="/assets/main.bundle.js" defer></script>
    <title>{{ title }} | Friendzone</title>
  </head>

  <body class="{{ 'debug-screens' if env.devMode }}" x-data="global()" 
    x-effect="getConnects()">
    {% include 'header.njk' %}
    {% block body %}
      {{ content | safe }}
    {% endblock %}

    <!-- Global notification live region, render this permanently at the end of the document -->
    <div x-show="showNotifications" aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
      <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
        <template x-for="notification in notifications">
          <div class="w-full">
            <template x-if="notification.type === 'connect'">
              {% include '../notifications/connect.njk' %}
            </template>
            <template x-if="!notification.type">
              {% include '../notifications/generic.njk' %}
            </template>
          </div>
        </template>
      </div>
    </div>
  </body>
  <script>
    if (!('friendzone_token' in sessionStorage) && !('friendzone_token' in localStorage)) 
      window.location = new URL('/', window.location)
  </script>

</html>
{#  #}