<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <script src="/assets/main.bundle.js" defer></script>
    <title>{{ title }} | Friendzone</title>
  </head>

  <body class="{{ 'debug-screens' if env.devMode }}" x-data="global()">
    {% block body %}
      {{ content | safe }}
    {% endblock %}
  </body>

</html>