{% set title = 'Birthdays' %}
{% extends "layouts/inside.njk" %}

{% block body %}
  <div class="max-w-5xl mx-auto pt-8 px-5" x-data="dataCalendar">
    <h2 class="text-lg font-semibold text-gray-900">Upcoming birthdays</h2>
    <div class="lg:grid lg:grid-cols-12 lg:gap-x-16">
      <div class="mt-10 text-center lg:col-start-8 lg:col-end-13 lg:row-start-1 lg:mt-9 xl:col-start-9">
        <div class="flex justify-between">
          <div class="flex items-center text-gray-900 w-full">
            <button @click="prevMonth" type="button" class="-m-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
              <span class="sr-only">Previous month</span>
              <!-- Heroicon name: mini/chevron-left -->
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd"/>
              </svg>
            </button>
            <span class="flex-auto font-semibold" x-text="month"></span>
            <button @click="nextMonth" type="button" class="-m-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
              <span class="sr-only">Next month</span>
              <!-- Heroicon name: mini/chevron-right -->
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
          <div class="flex items-center text-gray-900 w-full">
            <button @click="prevYear" type="button" class="-m-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
              <span class="sr-only">Previous year</span>
              <!-- Heroicon name: mini/chevron-left -->
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd"/>
              </svg>
            </button>
            <span class="flex-auto font-semibold" x-text="year"></span>
            <button @click="nextYear" type="button" class="-m-1.5 flex flex-none items-center justify-center p-1.5 text-gray-400 hover:text-gray-500">
              <span class="sr-only">Next year</span>
              <!-- Heroicon name: mini/chevron-right -->
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="mt-6 grid grid-cols-7 text-xs leading-6 text-gray-500">
          <div>S</div>
          <div>M</div>
          <div>T</div>
          <div>W</div>
          <div>T</div>
          <div>F</div>
          <div>S</div>
        </div>
        <div
          class="isolate mt-2 grid grid-cols-7 gap-px rounded-lg bg-gray-200 text-sm shadow ring-1 ring-gray-200">
          <!--
          Always include: "py-1.5 hover:bg-gray-100 focus:z-10"
          Is current month, include: "bg-white"
          Is not current month, include: "bg-gray-50"
          Is selected or is today, include: "font-semibold"
          Is selected, include: "text-white"
          Is not selected, is not today, and is current month, include: "text-gray-900"
          Is not selected, is not today, and is not current month, include: "text-gray-400"
          Is today and is not selected, include: "text-indigo-600"

          Top left day, include: "rounded-tl-lg"
          Top right day, include: "rounded-tr-lg"
          Bottom left day, include: "rounded-bl-lg"
          Bottom right day, include: "rounded-br-lg"
        -->
          <template x-for="(day, dayIdx) in calendar" x-effect="computeDays">
            <button @click="selectedDate = day.toLocaleDateString('fr-CA')" type="button" 
            class="py-1.5 hover:bg-gray-100 focus:z-10"
            :class="[
              isCurrentMonth(day) ? 'bg-white' : 'bg-gray-50',
                  (isSelected(day) || isToday(day)) && 'font-semibold',
                  isSelected(day) && 'text-white',
                  !isSelected(day) && isCurrentMonth(day) && !isToday(day) && 'text-gray-900',
                  !isSelected(day) && !isCurrentMonth(day) && !isToday(day) && 'text-gray-400',
                  isToday(day) && !isSelected(day) && 'text-indigo-600',
                  dayIdx === 0 && 'rounded-tl-lg',
                  dayIdx === 6 && 'rounded-tr-lg',
                  dayIdx === calendar.length - 7 && 'rounded-bl-lg',
                  dayIdx === calendar.length - 1 && 'rounded-br-lg'
            ]">
              <!--
            Always include: "mx-auto flex h-7 w-7 items-center justify-center rounded-full"
            Is selected and is today, include: "bg-indigo-600"
            Is selected and is not today, include: "bg-gray-900"
          -->
              <time :class="isSelected(day) ? isToday(day) ? 'bg-indigo-600' : 'bg-gray-900' : ''"
                :datetime="day.toLocaleDateString('fr-CA')" class="mx-auto flex h-7 w-7 items-center justify-center rounded-full" x-text="day.getDate()"></time>
            </button>
          </template>
        </div>
        <button type="button" class="mt-8 w-full rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Add event</button>
      </div>
      <ol class="mt-4 divide-y divide-gray-100 text-sm leading-6 lg:col-span-7 xl:col-span-8" x-data="{ events: [] }"
      x-effect="console.log(selectedDate); events = (await (await fetch(`/api/directory`)).json()).data.map((event) => {
          return { label: event.first_name + ' ' + event.last_name, avatar_url: event.avatar_url, date: event.birthday, key: event.full_name }
      }).filter((event) => {
        const birthday = new Date(event.date).toLocaleDateString('fr-CA').split('-').slice(1,3).join('/')
        return selectedDate.split('-').slice(1,3).join('/') === birthday
        }).sort((a, b) => a.key.localeCompare(b.key))">
        <template x-for="event in events">
          <li class="relative flex space-x-6 py-6 xl:static">
            <img :src="event.avatar_url.includes('unsplash') ? event.avatar_url + '&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80' : event.avatar_url" alt="" class="h-14 w-14 flex-none rounded-full">
            <div class="flex-auto">
              <h3 class="pr-10 font-semibold text-gray-900 xl:pr-0" x-text="event.label"></h3>
              <dl class="mt-2 flex flex-col text-gray-500 xl:flex-row">
                <div class="flex items-start space-x-3">
                  <dt class="mt-0.5">
                    <span class="sr-only">Date</span>
                    <!-- Heroicon name: mini/calendar -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd"/>
                    </svg>
                  </dt>
                  <dd>
                    <span x-text="formatDate(new Date(event.date), 'MMMM d, y')"></span>
                    {# <time datetime="2022-01-10T17:00">January 10th, 2022 at 5:00 PM</time> #}
                  </dd>
                </div>
                {# <div class="mt-2 flex items-start space-x-3 xl:mt-0 xl:ml-3.5 xl:border-l xl:border-gray-400 xl:border-opacity-50 xl:pl-3.5">
                  <dt class="mt-0.5">
                    <span class="sr-only">Location</span>
                    <!-- Heroicon name: mini/map-pin -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd"/>
                    </svg>
                  </dt>
                  <dd>Starbucks</dd>
                </div> #}
              </dl>
            </div>
            <div class="absolute top-6 right-0 xl:relative xl:top-auto xl:right-auto xl:self-center" x-data="{ open: false }">
              <div>
                <button @click="open = !open" type="button" class="-m-2 flex items-center rounded-full p-2 text-gray-500 hover:text-gray-600" id="menu-0-button" aria-expanded="false" aria-haspopup="true">
                  <span class="sr-only">Open options</span>
                  <!-- Heroicon name: mini/ellipsis-horizontal -->
                  <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z"/>
                  </svg>
                </button>
              </div>

              <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
              <div @click.outside="open = !open" x-show="open" class="absolute right-0 z-10 mt-2 w-36 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-0-button" tabindex="-1">
                <div class="py-1" role="none">
                  <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                  <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-0-item-0">Edit</a>
                  <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-0-item-1">Cancel</a>
                </div>
              </div>
            </div>
          </li>
        </template>

        <!-- More meetings... -->
      </ol>
    </div>
  </div>
  <script>
    function dataCalendar() {
      return {
        days: [
          'Sunday',
          'Monday',
          'Tuesday',
          'Wednesday',
          'Thursday',
          'Friday',
          'Saturday'
        ],
        months: [
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
          'July',
          'August',
          'September',
          'October',
          'November',
          'December'
        ],
        year: null,
        month: null,
        selectedDate: new Date().toLocaleDateString('fr-CA'),
        calendar: [],

        nextYear() {
          this.year = this.year + 1
        },

        prevYear() {
          this.year = this.year - 1
        },

        nextMonth() {
          let m = this
            .months
            .indexOf(this.month) + 1
          if (m > 11) 
            this.nextYear()
          this.month = this.months[m % 12]
        },

        prevMonth() {
          let m = this
            .months
            .indexOf(this.month) - 1
          if (m < 0) 
            this.prevYear()
          this.month = this.months[(m + 12) % 12]
        },

        init() {
          this.year = (new Date()).getFullYear()
          let month = (new Date()).getMonth()
          this.month = this.months[month]
        },

        isToday(someDate) {
          const today = new Date()
          return someDate.getDate() == today.getDate() && someDate.getMonth() == today.getMonth() && someDate.getFullYear() == today.getFullYear()
        },

        isCurrentMonth(someDate) {
          const today = new Date()
          return someDate.getMonth() === today.getMonth()
        },

        isSelected(someDate) {
          //console.log(someDate.toLocaleDateString('fr-CA'), this.selectedDate)
          return someDate.toLocaleDateString('fr-CA') === this.selectedDate
        },

        computeDays() {
          month = this
            .months
            .indexOf(this.month)

          let numDays = 32 - new Date(this.year, month, 32).getDate()
          this.calendar = Array.from({
            length: numDays
          }, (_, i) => new Date(this.year, month, i + 1))

          let d = new Date(this.year, month, 1)
          while (this.days[d.getDay()] !== 'Sunday') {
            d.setDate(d.getDate() - 1)
            this
              .calendar
              .unshift(new Date(d.getTime()))
          }

          d = new Date(this.year, month, numDays)
          while (this.days[d.getDay()] !== 'Saturday') {
            d.setDate(d.getDate() + 1)
            this
              .calendar
              .push(new Date(d.getTime()))
          }
        }

      }
    }
  </script>
{% endblock %}