{% set title = 'Credentials' %}
{% extends "layout.njk" %}

{% block body %}
  <div class="h-screen w-screen bg-white relative overflow-hidden rounded-lg" x-data="{ toggle: true }">
    <div
        id="login"
        class="bg-white absolute top-0 left-0 h-full w-1/2 flex justify-center items-center transition-all duration-700 ease-in-out z-20"
        :class="toggle && 'translate-x-full opacity-0'"
      >
      {% include 'auth/LoginForm.njk' %}
    </div>

    <div
        id="signup"
        class="absolute top-0 left-0 h-full w-1/2 flex justify-center items-center transition-all duration-700 ease-in-out"
        :class="toggle ? 'translate-x-full opacity-100 z-50 animate-show' : 'opacity-0 z-10'"
      >
      <div class="h-full w-full flex justify-center items-center">
        {% include 'auth/SignupForm.njk' %}
      </div>
    </div>

    <div
        id="overlay-container"
        class="absolute top-0 left-1/2 w-1/2 h-full overflow-hidden transition transition-transform duration-700 ease-in-out z-100"
        :class="toggle && '-translate-x-full'"
      >
      <div
          id="overlay"
          class="bg-gradient-to-r from-blue-800 via-purple-800 to-indigo-800 relative -left-full h-full w-[200%] transform transition transition-transform duration-700 ease-in-out"
          :class="toggle ? 'translate-x-1/2' : 'translate-x-0'"
        >
        <div
            id="overlay-left"
            class="w-1/2 h-full absolute flex justify-center items-center top-0 transform -translate-x-[20%] transition transition-transform duration-700 ease-in-out"
            :class="toggle ? 'translate-x-0' : '-translate-x-[20%]'"
          >
          {% include 'auth/LeftOverlayContent.njk' %}
        </div>
        <div
            id="overlay-right"
            class="w-1/2 h-full absolute flex justify-center items-center top-0 right-0 transform transition transition-transform duration-700 ease-in-out"
            :class="toggle ? 'translate-x-[20%]' : 'translate-x-0'"
          >
          {% include 'auth/RightOverlayContent.njk' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}